script.
      var _gaq=[['_setAccount','UA-44959535-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
script(type='text/javascript', src='/lib/jquery/jquery.js')
script(type='text/javascript', src='/lib/underscore/underscore-min.js')


//Bootstrap
script(type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js")
script(type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js")

//AngularJS
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js')
script(type='text/javascript', src='https://code.angularjs.org/1.6.1/angular-sanitize.min.js')

script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-resource.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-cookies.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')
script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/jwt-decode@2.2.0/build/jwt-decode.min.js')

// Emojionearea library
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/lib/js/emojione.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.1/emojionearea.min.js')


//Firebase
script(type='text/javascript', src='https://www.gstatic.com/firebasejs/3.6.6/firebase.js')

//Angular fire
script(type='text/javascript', src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')

//Toastr
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')

//Intro.js
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js')

//Application Init
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/socket.js')
script(type='text/javascript', src='/js/services/game.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/game.js')
script(type='text/javascript', src='/js/controllers/search.js')

//Socket.io Client Library
script(type='text/javascript', src='/socket.io/socket.io.js')

//Firebase configuration
script(type='text/javascript', src='/js/firebase.config.js')

//Livereload script rendered
//script(type='text/javascript', src='https://localhost:35729/livereload.js')