<div class="container main-player-container">
    <div class="player-container" ng-repeat="player in game.players" style="background-color:{{colors[player.color]}}">
        <div class="arrange-player" id ="above-czar-container">
          <div id="player-container-inner">
              <div id="avatar_">
                  <span ng-show="isPremium($index)">
                    <div ng-if="premium === 1">
                        <img ng-src="img/silverCrown2.png" id="king" width="50px" height="50px">
                      </div>
                      <div ng-if="premium === 2">
                        <img ng-src="img/goldenCrown.png" id="king" width="50px" height="50px">
                      </div>
                    </span>
                  <img class="user-image" ng-src="{{player.profileImage || player.avatar}}"/>
                </div>
            <div id="player-name" data-step="8" data-intro="Here You can see the name of a player in the game"><p>{{player.username | upperFirstLetter}}</p></div>
            <div id="player-score" data-step="9" data-intro="Here You can see the points of players that are participating in the game"><p>{{player.points}}/{{game.pointLimit}}</p></div>
          </div>
          <div ng-show="isPlayer($index)" id="player-star">
              <i id="active-user" data-step="7" data-intro="This shows the current player" class="fa fa-user"></i>           
           </div>
        </div>
        <div id="czar-container" ng-show="currentCzar($index)">
          <span id='the-czar'>CZAR</span>
        </div>
      </div>
      
</div>

