<div class="container main-player-container">
    <div class="player-container" ng-repeat="player in game.players" style="background-color:{{colors[player.color]}}">
        <div class="arrange-player" id ="above-czar-container">
          <div id="player-container-inner">
              <div id="avatar_">
                  <span ng-show="isPremium($index)">
                    <img ng-src="img/king.png" id="king">
                  </span>
                  <img class="user-image" ng-src="{{player.profileImage || player.avatar}}"/>
                </div>
            <div id="player-name"><p>{{player.username | upperFirstLetter}}</p></div>
            <div id="player-score"><p>{{player.points}}/{{game.pointLimit}}</p></div>
          </div>
          <div ng-show="isPlayer($index)" id="player-star">
              <i id="active-user" class="fa fa-user"></i>           
           </div>
        </div>
        <div id="czar-container" ng-show="currentCzar($index)">
          <span id='the-czar'>CZAR</span>
        </div>
      </div>
      
</div>

