<div ng-controller="IndexController">
    <!-- <nav class="navbar  nav-decor navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link profile-text" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>


                <li class="nav-item link-item profile-text">
                    <a class="nav-link" href="#">Link</a>
                </li>

                <li class="nav-item link-item profile-text">
                    <a class="nav-link" href="#">Link</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 fa fa-search search-button" type="submit"></button>
            </form>
        </div>
    </nav> -->

    <div class="jumbotron bg-grey">
          <div class="text-center user-details">
              <img src="img/Blank-profile.png" alt="">
              <p class="lead">Name:  {{user.name}}</p>
              <p class="lead">Email:  {{user.email}} </p>
              <p class="lead">Game won: {{user.gamesWon}} </p>
          </div>
      </div>

      <div class="container text-center">
            <h2 class=" my-4 ">Game Log</h2>
            <div>
                <table class="table">
                    <thead class="t">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Games Played</th>
                            <th scope="col">Points</th>
                            <th scope="col">Result</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr ng-repeat="game in user.userGame">
                            <th scope="row">{{ $index + 1 }}</th>
                            <td>{{ game.gameId }}</td>
                            <td ng-repeat="log in game.log">{{ log.points }}</td>
                            <td>{{ game.gameWinner}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
      </div>


    <!-- <div class="row">
        <div class="col-sm-3 col-1">
            <a class="cat-form profile-image">
                <img class="img img-fluid profile-image" ng-src = "{{ user.image ? user.image : 'img/profile.png' }}" alt="Card image cap" width="537.5">
            </a>

            <div class="col-sm user-details-card">

                <div class="text-position profile-text center-text">
                    <strong>Profile Details</strong>
                </div>
                <p class="text-space profile-text center-text mt-3">
                    {{user.name}}
                </p>
                <p class="text-space profile-text center-text">
                    {{user.email}}
                </p>
                <p class="text-space profile-text center-text">
                   Games won:  {{user.gamesWon}}
                </p>

            </div>

        </div>

        <div class="col-sm-5 col-2 m">

            <table class="table">
                <thead class="">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Games Played</th>
                        <th scope="col">Points</th>
                        <th scope="col">Result</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr ng-repeat="game in user.userGame">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td>{{ game.gameId }}</td>
                        <td ng-repeat="log in game.log">{{ log.points }}</td>
                        <td>{{ game.gameWinner}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-4 col-3">

            <div class="col-sm card-height">
                <div class="text-position center-text " id="friends-text">
                    Friends
                </div>
                <div class="card p-3 cards1">
                    <small class="text-muted">
                        <div class="text-position">
                            Douglas
                        </div>
                    </small>
                </div>

                <div class="card p-3 cards1">
                    <small class="text-muted">
                        <div class="text-position">
                            Daramola
                        </div>
                    </small>
                </div>

                <div class="card p-3 cards1">
                    <small class="text-muted">
                        <div class="text-position">
                            Rotimi
                        </div>
                    </small>
                </div>

                <div class="card p-3 cards1">
                    <small class="text-muted">
                        <div class="text-position">
                            Clinton
                        </div>
                    </small>
                </div>

                <div class="card p-3 cards1">
                    <small class="text-muted">
                        <div class="text-position">
                            Olatunji
                        </div>
                    </small>
                </div>

                <div class="card p-3 cards1">
                    <small class="text-muted">
                        <div class="text-position">
                            Sa'eed
                        </div>
                    </small>
                </div>

            </div>
            <form action="" class="pagination-btn-position">
<button class="btn-primary paginate" >Next</button>
<button class="btn-primary paginate">Previous</button>
</form>
        </div>
    </div>
</div> -->