
 /* New design for landing page */
body{
  margin: 0 !important;
}
 .tpl-body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.cfh-navbar {
  display: flex;
}
.nav-link {
  color: #f47820 !important;
  font-weight: bold;
  margin: 0 3px;
}
.center-link {
  justify-content: space-around;
}

.main-screen {
  background-image: url("../img/landing/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content {
  padding: 8% 10%;
}

.how-to-play {
  background-image: url("../img/landing/scattered-cards.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;   
}

.overlay {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.0.1);
}

.video {
  height: 440.64px
}

#move {
  background-color: #291c1f !important;
}
.charity {
  background-image: url("../img/landing/background-charity.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.business-footer {
  background-color: #291c1f;
  padding: 15px 0;
  color: white;
  font-size:12px;
  clear: both;
}

#change-color {
  color: orange;
}

#charity-text {
  font-size: 20px;
  line-height: 1.7;
}

.content {
  padding: 3% 2%;
}

.main-card {
  width: 80%;
  margin: 3% 0;
}

.game-text {
  padding-top: 3%;
  color: #fff;
  font-size: 60px;
  font-family: 'Eater', cursive;
}

.game-card {
text-align: right;
}

.brief-info {
  padding-top: 5%;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
  /* background-color: red; */
  -webkit-animation: bounce .3s infinite alternate;
  -moz-animation: bounce .3s infinite alternate;
  animation: bounce .3s infinite alternate;
  padding: 0 5%;
}

carousel-indicators .active {
  width: 48px;
  height: 48px;
  margin: 10px;
  background-color: #ffff99;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgba(255, 0, 13, 0.774);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgba(255, 0, 13, 0.774);
}

.button-wrapper {
  text-align: center;
  padding-top: 2%;
}

.btn-play-as-guest {
  margin-top: 2%;
  background-color: #f47820;
  color: #fff;
  font-size: 20px;
  padding: 1% 2%;
  box-shadow: 5%;
  border-radius: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  margin-left: 2%;
}

.btn-signup {
  margin-top: 2%;
  background-color: #f47820;
  color: #fff;
  font-size: 20px;
  padding: 1% 4.5%;
  box-shadow: 5%;
  border-radius: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  margin-right: 2%;
}

.charity-content {
  text-align: center;
  color: #fff;
  margin: auto 10%;
}

.ace-cards {
  margin: 2% 8%;
}

.card-wrapper {
  margin-bottom: 20px; 
}

.card {
  width: 100%;
  background-color:#897074;
  color: #fff;
  height: 100%;
}

.cfh-card {
  width: 100%;
  background-color:#897074;
  color: #fff;
  height: 100%;
}

.card-text {
  padding: 23px 13px;
}

.card-body{
  padding: 2px 16px
}

.card-img-top {
  width:100%
}

.text-center {
  text-align: center
}
.warning {
  color: #ff0000;
}

.cfh-warning {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5%;
  margin: auto 9%;
  padding: 5px 2px;
  color: #ff0000;
  
}


@media screen and (max-width: 750px) {

.center-link {
  text-align: center;
}
.game-text {
  padding-top: 15%;
  color: #fff;
  font-size: 30px;
  text-align: center;

} 

.game-card {
  text-align: center;
}

.brief-info {
  padding-top: 3%;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 1.5;
}

.slide-hide-on-mobile { 
  display: none !important; 
}
  
}

@media (max-width: 1020px) and (min-width: 768px) {
  .game-text {
    padding-top: 8%;
    color: #fff;
    font-size: 30px;
  } 
  .card-text {
    padding: 6px;
    font-size: 10px;
  }
}


@media (max-width: 1320px) and (min-width: 1024px) {
  .game-text {
      padding-top: 8%;
      color: #fff;
      font-size: 40px;
  } 
}
.asgard {
  margin-top: 2%;
  color: #f47820;
}
.footer {
  margin: 1% 10%;
  line-height: 1.8
}

/* ANIMATIONS */

@keyframes slideRightShow {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  100% {
      opacity: 1;
      transform: translateX(0px);
  }
}

@keyframes slideRightShow {
  15% {
      transform: rotate(-15deg);
  }
  30% {
      transform: rotate(0deg);
  }
  45% {
      transform: rotate(15deg);
  }
  60% {
      transform: rotate(0deg);
  }
  75% {
      transform: rotate(-15deg);
  }
  90% {
      transform: rotate(0deg);
  }
}

@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
  to { transform: scale(1.2); }
}

.card:hover {
  animation-duration: 0.7s;
  animation-name: slideRightShow;
  animation-timing-function: ease-in-out;
}

/* carousel styles */
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /* outline: black; 
  background-size: 100%, 100%;
  /* border-radius: 50%;
  border: 1px solid black; 
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgba(255, 0, 13, 0.774);
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgba(255, 0, 13, 0.774);
} */
/* .carousel-inner > .active {
  height: 325px;
}
.carousel-indicators {
  display: none !important;
}
.how-to-play .overlay h2 {
  margin: 0px;
  padding: 3%;
} */
/* 
  override for the carousel to stop it from moving about
  need for media query on this...
*/
/* .carousel {
  min-height: 380px;
}
@media (min-width: 992px) {
  .carousel {
    min-height: 430px;
  }
}
.carousel-inner{
  overflow: visible;
  margin-top: 1%;
  min-height: 100%;
} */
/* .how-to-play {
  /* padding: 35px; 
}
.carousel-inner {
  /* padding: 20px; 
} */

/* Bootstrap 4 cut-ins*/
/* .navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
} */
/* .navbar-expand-sm .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.navbar-expand-lg .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.navbar-expand-xl .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.navbar-expand .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
} */
/* .navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-fill .nav-item {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}
.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fff;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}
.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
} */